<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
<div class="container my-3">
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="mylog, loop : ${mylogList}">
            <td th:text="${loop.count}"></td>
            <td>
                <a th:href="@{|/mylog/detail/${mylog.id}|}" th:text="${mylog.subject}"></a>
            </td>
            <td th:text="${#temporals.format(mylog.createDate, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/mylog/create}" class="btn btn-primary">오늘의 글 쓰기</a>
</div>